*{
    padding: 0;
    margin: 0;
}

.summary {
    grid-area: summary;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

.sections {
    grid-area: sections;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

.alarm {
    grid-area: alarm;
}

.xmultitabs {
    grid-area: xmultitabs;
}

.zmultitabs {
    grid-area: zmultitabs;
}

.vertical-pills {
    grid-area: vertical-pills;
}


.container{
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
            "summary vertical-pills zmultitabs "
            "summary vertical-pills xmultitabs "
            "summary vertical-pills sections "
            "alarm  vertical-pills ."
            ". . .";
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 30px 30px 4fr 1fr 60px;
    grid-column-gap: 20px;
    grid-row-gap: 2px;
    min-height: 100vh;
    max-height: 100vh;
}
